<!DOCTYPE html>
<html>
<head>
  <title>Spongecms</title>
  <%= stylesheet_link_tag    "spongecms/application", media: "all" %>
  <%= javascript_include_tag "spongecms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
